*{
    margin: 0;
}

html{
    background: darkslategrey;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: arial;
}
.App{
    h2{
        text-align: center;
        margin-bottom: 20px;
        color: rgb(167, 215, 215);
    }
    button{
        margin-top: 50px;
        width: 100%;
        height: 60px;
        font-size: 25px;
        border-radius: 10px;
        border: none;
        background: rgb(27, 55, 55);
        color: white;
        cursor: pointer;
        box-shadow: 0 0 4px rgba(0,0,0,0.4);
        &:hover{
            background: rgb(34, 69, 69);
        }
        &:active{
            background: rgb(43, 85, 85);
        }
    }
}
.gameBoard{
    background: green;
    box-shadow: inset 0 0 10px black, 10px 10px 10px rgba(0,0,0,0.4);
    border: solid 20px orange;
    border-radius: 20px;
    width: 340px; height: 540px;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items:center;
}
.card{
    border: solid 2px black;
    padding: 10px;
    height: 140px;
    width: 85px;
    border-radius: 10px;
    background: white;
    .top-num, .bottom-num{
        font-size: 25px;
        font-weight: bolder;
    }
    .bottom-num{
        text-align: end;
    }
    .main-color{
        margin: auto;
        height: 70px;
        width: 70px;
        border-radius: 50%;
    }
}
